<article>
  <div class="jumbotron negative-margin-bottom" style="text-align: center;">
    <h1>{{ project?.name }}</h1>
    <p>{{ project?.description }}</p>
  </div>

  <span fxLayout="row" fxLayoutAlign="center center">
    <span fxLayout="column" fxLayoutGap="2em" fxFlex="100" fxFlex.gt-md="80">
      <div *ngIf="ready !== true">
        <mat-card>
          <mat-card-content fxLayout="column">
            <!-- Medical report textarea -->
            <input
              type="file"
              name="textFile"
              id="textFile"
              (change)="onChange($event.target.files)"
            />
            <mat-form-field fxFill>
              <textarea
                matInput
                [(ngModel)]="inputText"
                rows="15"
                placeholder="Por favor introduzca un caso clinico"
                required
              >
              </textarea>

              <!-- Error handling -->
              <!-- <mat-error *ngIf="f['medicalReport'].errors">
            <span *ngIf="f['medicalReport'].errors.required">
              Medical Report is <strong>required</strong>.
            </span>
            <span *ngIf="f['medicalReport'].errors.maxlength">
              Medical Report exeeds the maximum of
              <strong>{{ MAX_CHARACTERS }} characters</strong>.
            </span>
          </mat-error> -->
            </mat-form-field>
            <button class="btn btn-primary" (click)="submitText()">
              Submit
            </button>
          </mat-card-content>
        </mat-card>
      </div>
      <div *ngIf="loading === true">
        <mat-spinner></mat-spinner>
      </div>


      <div *ngIf="ready === true">
        <div class="container" style=" max-width: 100%;">
          <div>


          <button (click)="reset()" class="btn btn-success">
            <div style="display: flex;"> <i class="material-icons" >arrow_back </i> Reset</div>
          </button>

          <div class="divider"></div>
          <button
            (click)="changeNER('enfermedad')"
            [ngClass]="{
              'on-enfermedad': toggle['enfermedad'],
              'off-enfermedad': !toggle['enfermedad']
            }"
            class="btn"
          >
            ENFERMEDAD
          </button>
          <div class="divider"></div>
          <button
            (click)="changeNER('sintoma')"
            [ngClass]="{
              'on-sintoma': toggle['sintoma'],
              'off-sintoma': !toggle['sintoma']
            }"
            class="btn"
          >
            SINTOMA
          </button>
          <div class="divider"></div>
          <button
            (click)="changeNER('procedimiento')"
            [ngClass]="{
              'on-procedimiento': toggle['procedimiento'],
              'off-procedimiento': !toggle['procedimiento']
            }"
            class="btn"
          >
            PROCEDIMIENTO
          </button>
          <div class="divider"></div>
          <button
            (click)="changeNER('farmaco')"
            [ngClass]="{
              'on-farmaco': toggle['farmaco'],
              'off-farmaco': !toggle['farmaco']
            }"
            class="btn"
          >
            FARMACO
          </button>
          <div class="divider"></div>
        </div>
          <p></p>
          <div class="row ">
            <div class="card scroll">
              <div class="card-body">
                <!-- <ngx-annotate-text
                  [(annotations)]="annotations"
                  [removable]="true"
                  [text]="proccedText"
                  annotationClass="my-annotation"
                  #annotateText
                >
                </ngx-annotate-text> -->

                <div  id="embedding-entity-example" style="width: 100rem;"></div>
              </div>
            </div>
          </div>
          <div class="row" id="snomed-table">

            <h3 class="title">SNOMED TABLE</h3>
            <div *ngIf="textSubmitted === true">
              <mat-form-field>
                <mat-label>Filter</mat-label>
                <input
                  matInput
                  (keyup)="applyFilter($event)"
                  placeholder="Ex. Virus"
                  #input
                />
              </mat-form-field>

              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
                  <!-- Checkbox Column -->
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox
                        (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="
                          selection.hasValue() && !isAllSelected()
                        "
                        [aria-label]="checkboxLabel()"
                      >
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)"
                      >
                      </mat-checkbox>
                    </td>
                  </ng-container>
                  <!-- Name Column -->
                  <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Type of entity
                    </th>
                    <td mat-cell *matCellDef="let row">
                      {{ row.type }}
                    </td>
                  </ng-container>

                  <!-- email Column -->
                  <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Snomed Code
                    </th>

                    <td mat-cell *matCellDef="let row"
                    [matTooltip]="getData(row.code)"

                    >

                      {{ row.code }}
                    </td>
                  </ng-container>

                  <!-- Role Column -->
                  <!-- <ng-container matColumnDef="occurrency">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Occurrency
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ row.occurrency }}
                      </td>
                    </ng-container> -->
                  <ng-container matColumnDef="text">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Text
                    </th>
                    <td mat-cell *matCellDef="let row">
                      {{ row.text }}
                    </td>
                  </ng-container>

                  <!-- Edit Column -->
                  <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Edit
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <button mat-raised-button color="primary">
                        <mat-icon>edit</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <!-- Delete Column -->
                  <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Delete
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <button mat-raised-button color="warn">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                  ></tr>

                  <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">
                      No data matching the filter "{{ input.value }}"
                    </td>
                  </tr>
                </table>

                <mat-paginator
                  [pageSizeOptions]="[5, 10, 25, 100]"
                ></mat-paginator>
                <a
                  mat-stroked-button
                  color="primary"
                  class="text-decoration-none"
                  [href]="downloadLink"
                  [download]="downloadFilename"
                  fxFlex.xs="100%"
                >
                  JSON<i class="material-icons">file_download</i>
                </a>

                <button
                  mat-stroked-button
                  color="primary"
                  class="text-decoration-none"
                  (click)="downloadTSV()"
                >
                  TSV <i class="material-icons">file_download</i>
                </button>

                <button
                  mat-stroked-button
                  color="primary"
                  class="text-decoration-none"
                  (click)="downloadCSV()"
                >
                  CSV <i class="material-icons">file_download</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </span>
  </span>



  <!--
  <div class="row mt-3">
    <div class="col-12 mb-5">
      <button
        type="button"
        class="btn btn-primary mr-2"
        (click)="addAnnotation('Date', '#0069d9')"
      >
        Date
      </button>
      <button
        type="button"
        class="btn btn-secondary mr-2"
        (click)="addAnnotation('Time', '#5a6268')"
      >
        Time
      </button>
      <button
        type="button"
        class="btn btn-success mr-2"
        (click)="addAnnotation('Country', '#28a745')"
      >
        Country
      </button>
      <button
        type="button"
        class="btn btn-danger mr-2"
        (click)="addAnnotation('City', '#dc3545')"
      >
        City
      </button>
    </div>

    <div class="col-6">
      <h2 class="mb-3 display-5">Annotations</h2>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let a of annotations">
          start: {{ a.startIndex }}, end: {{ a.endIndex }}, text: "{{
            a.text
          }}", label: {{ a.label }}
        </li>
      </ul>
    </div>
  </div> -->
</article>
